<div class="parent-block col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="dash-header col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="width50 height100 paddingR0 col-xs-4 col-sm-4 col-md-4 col-lg-4">
    
        <span class="dash-msg">
            <img  class="paddingR4p" src="assets/Icon feather-home.png" alt="Img"/>
            Dashboard</span>
        </div>
        <div class="width50 height100 paddingL0 col-xs-8 col-sm-8 col-md-8 col-lg-8"> 
            <span class="vertcenter">
            <button class="add-btn" type="button" (click)="openDialogTask()">
                <span class="Add-Task">+ Add Task</span>
            </button>
           <span class="Ellipse-65">
               <img  class="img-mar" src="assets/Icon feather-settings.png" alt="Img"/></span>
        </span>
     
        </div> 
    </div>
    <div class="dash-body">
        <div class="container-fluid">
        <div class="row">
        <div class="marb23p col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <mat-card class="card-padd1">
    <div class="div1">
        <div class="mob-view">
        <div class="cradfeild welcomefont col-12">Welcome back mani !</div>
                    <div class="cradfeild pad5 col-12"><img src="assets/ANNA.png" alt="Img"/></div>
                    <div class="cradfeild welcole-text col-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Phasellus ornare</div>
    
                </div>
                    <div class="web-view">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="cradfeild welcomefont col-12">Welcome back mani !</div>
                    <div class="cradfeild welcole-text col-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Phasellus ornare</div>
                </div>
                <div class="pad-l0 col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="cradfeild  pad5 col-12"><img src="assets/ANNA.png" alt="Img"/></div>
                </div>
                   
                    
                </div>
            </div>
            </div>
            </mat-card>
        </div>
        
        <div class="marb23p col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <mat-card class="schedule-padding">
                <div class="schedule-head">
                    <div class="schedule-Leaderboard">Feedback</div>
                    <div class="Full-Schedule">All reports <img class="Icon-awesome-arrow-right" src="assets/Icon awesome-arrow-right.png" alt="Img"/></div>
                </div>
           
                 
                        <div class="displyflex marb18p">
                            <div class="displyflex backclr padr3 col-10">
                                <div class="pad-cus col-10">
                        Report title, Lorem ipsum dolor sit amet.</div> 
                        <div class="col-2 pad3 mart7p">
    <img  src="assets/Ellipse 60.png" alt="Img"/>
                        </div>
                    </div>  
                        <div class="col-2 pad3">
                            <div class="borderfb"><span class="numtextfb">50</span> <span class="numtextfbperx">%</span></div>
                        
                        </div>  
                    
                    </div> 
    
    
                    <div class="displyflex">
                        <div class="displyflex backclr padr3 col-10">
                            <div class="pad-cus col-10">
                    Report title, Lorem ipsum dolor sit amet.</div> 
                    <div class="col-2 pad3 mart7p">
    <img  src="assets/Ellipse 103 (2).png" alt="Img"/>
                    </div>
                </div>  
                    <div class="col-2 pad3">
                        <div class="borderfb"><span class="numtextfb">70</span> <span class="numtextfbperx">%</span></div>
                    
                    </div>  
                
                </div> 
    
                 
                  
    
            </mat-card>
        </div>
    
    
    
    
        <div class="marb23p col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <mat-card class="Graduate-padding">
                <div class="Graduate-Leaderboard">Graduate Leaderboard</div>
    <div class="imgcard">
                <div class="row">
                    <div class="column">
                        <img src="assets/Ellipse 87.png" alt="Mountains" class="img-border">
                        <div class="textcenter nametxt">Smith</div>
                        <div class="textcenter numtxt">97 <span class="perctext">%</span></div>
                      </div>
                    <div class="column">
                      <img src="assets/Ellipse 102.png" alt="Snow" class="img-border">
                      <div class="textcenter nametxt">Rebecca</div>
                      <div class="textcenter numtxt">95 <span class="perctext">%</span></div>
                    </div>
                    <div class="column">
                      <img src="assets/Ellipse 103.png" alt="Forest" class="img-border">
                      <div class="textcenter nametxt">Gloria</div>
                      <div class="textcenter numtxt">94 <span class="perctext">%</span></div>
                    </div>
                    <div class="column">
                      <img src="assets/Ellipse 104.png" alt="Mountains" class="img-border">
                      <div class="textcenter nametxt">Nathan</div>
                    <div class="textcenter numtxt">92 <span class="perctext">%</span></div>
                    </div>
                  
                  </div>
                </div>
               
            </mat-card>
        </div>
    
    
        <div class="marb23p col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <mat-card class="schedule-padding">
                <div class="schedule-head">
                    <div class="schedule-Leaderboard">Program Overview</div>
                </div>
                <div class="displyflex outdiv">
                    <div class="no-padd col-12">
                    <div (click)="outval = !outval" class="card-headout">
                        
                        <div class="displyflex detaildiv Stage-Name">
                            <div class="displyflex padrl col-12">
                                <div class="col-1 arrowpos">
    
                                    <span class="arrow-down"></span>
                                 
                                                    </div>
                                <div class="pad-cus1 col-11">
                        Report title, Lorem ipsum dolor sit amet.</div> 
                       
                    </div> 
                </div> 
                
                </div>
                    <div *ngIf="outval" class="card-bodyout">
        
               <div class="displyflex Indiv">
                <div class="no-padd  col-12">
                <div (click)="Inval = !Inval" class="card-headIn">
                    
                    
                    <div class="displyflex detaildiv Stage-Name">
                        <div class="displyflex padrl col-12">
                            <div class="col-1 arrowpos">
    
                                <span class="arrow-down"></span>
                             
                                                </div>
                            <div class="pad-cus1 col-11">
                    Report title, Lorem ipsum dolor sit amet.</div> 
                   
                </div> 
            </div> 
                
                
                </div>
                <div *ngIf="Inval" class="card-bodyIn">
    
    
                    <div class="displyflex detaildiv">
                        <div class="displyflex backclr padrl col-12">
                            <div class="col-1 pad31">
                                <input disabled type="checkbox" checked id="check1" name="check1">
                                                </div>
                            <div class="pad-cus1 col-11">
                    Report title, Lorem ipsum dolor sit amet.</div> 
                   
                </div> 
            </div> 
    
            
            <div class="displyflex detaildiv">
                <div class="displyflex backclr padrl col-12">
                    <div class="col-1 pad31">
                        <input disabled type="checkbox" checked id="check1" name="check1">
                                        </div>
                    <div class="pad-cus1 col-11">
            Report title, Lorem ipsum dolor sit amet.</div> 
           
        </div> 
    </div> 
    
    
    <div class="displyflex detaildiv">
        <div class="displyflex backclr padrl col-12">
            <div class="col-1 pad31">
                <input disabled type="checkbox" checked id="check1" name="check1">
                                </div>
            <div class="pad-cus1 col-11">
    Report title, Lorem ipsum dolor sit amet.</div> 
    
    </div> 
    </div> 
    
    
    <div class="displyflex detaildiv">
        <div class="displyflex backclr padrl col-12">
            <div class="col-1 pad31">
                <input disabled type="checkbox" checked id="check1" name="check1">
                                </div>
            <div class="pad-cus1 col-11">
    Report title, Lorem ipsum dolor sit amet.</div> 
    
    </div> 
    </div> 
    
                </div>
        </div>
               </div>
                     
            
                    </div>
                </div>
                   </div>
    
            </mat-card>
        </div>
        <div class="marb23p col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <mat-card class="schedule-padding">
                <div class="schedule-head">
                    <div class="schedule-Leaderboard">Schedule</div>
                    <div class="Full-Schedule">Full Schedule <img class="Icon-awesome-arrow-right" src="assets/Icon awesome-arrow-right.png" alt="Img"/></div>
                </div>
                <mat-tab-group mat-align-tabs="start">
                    <mat-tab class="schedule-padding" label="Today">
    
                        <div class="container">
                            <!-- completed -->
                              <div class="step completed">
                                <div class="v-stepper">
                                  <div class="circle"></div>
                                  <div class="line"></div>
                                </div>
                          
                                <div class="content">
                                
                                  <div class="contenthead">
                                   <span class="timefont">10:00 AM</span> 
                                </div>
                                  <div class="contentbody">
                                    <div class="displyflex backclr col-12">
                                        Report title, Lorem ipsum dolor sit amet.
                            </div>
                                  </div>
                                </div>
    
                            </div>
    
                            <div class="step completed">
                                <div class="v-stepper">
                                  <div class="circle"></div>
                                  <div class="line"></div>
                                </div>
                          
                                <div class="content">
                                
                                  <div class="contenthead">
                                   <span class="timefont">3:30 PM</span> 
                                </div>
                                  <div class="contentbody">
                                    <div class="displyflex backclr col-12">
                                        Report title, Lorem ipsum dolor sit amet.
                            </div>
                                  </div>
                                </div>
                            </div>
    
    
                            <div class="step completed">
                                <div class="v-stepper">
                                  <div class="circle"></div>
                                  <div class="lineend"></div>
                                </div>
                          
                                <div class="content">
                                
                                  <div class="contenthead">
                                   <span class="timefont">7:30 PM</span> 
                                </div>
                                  <div class="contentbody">
                                    <div class="displyflex backclr col-12">
                                        Report title, Lorem ipsum dolor sit amet.
                            </div>
                                  </div>
                                </div>
                            </div>
    
    
                           
                            
                         
                           
                            <div class="displyflex schedule-btn col-12">
                                <button class="btnspec">Change Schedule</button>
                    </div>
                           
                            
                          </div>
                          
                          
                    </mat-tab>
                    <mat-tab  class="schedule-padding" label="Tomorrow"> 
                        <div class="container">
                        <!-- completed -->
                          <div class="step completed">
                            <div class="v-stepper">
                              <div class="circle"></div>
                              <div class="line"></div>
                            </div>
                      
                            <div class="content">
                            
                              <div class="contenthead">
                               <span class="timefont">10:00 AM</span> 
                            </div>
                              <div class="contentbody">
                                <div class="displyflex backclr col-12">
                                    Report title, Lorem ipsum dolor sit amet.
                        </div>
                              </div>
                            </div>
                        </div>
    
                        <div class="step completed">
                            <div class="v-stepper">
                              <div class="circle"></div>
                              <div class="line"></div>
                            </div>
                      
                            <div class="content">
                            
                              <div class="contenthead">
                               <span class="timefont">3:30 PM</span> 
                            </div>
                              <div class="contentbody">
                                <div class="displyflex backclr col-12">
                                    Report title, Lorem ipsum dolor sit amet.
                        </div>
                              </div>
                            </div>
                        </div>
    
    
                        <div class="step completed">
                            <div class="v-stepper">
                              <div class="circle"></div>
                              <div class="lineend"></div>
                            </div>
                      
                            <div class="content">
                            
                              <div class="contenthead">
                               <span class="timefont">7:30 PM</span> 
                            </div>
                              <div class="contentbody">
                                <div class="displyflex backclr col-12">
                                    Report title, Lorem ipsum dolor sit amet.
                        </div>
                              </div>
                            </div>
                        </div>
    
    
                       
                        
                        <div class="displyflex schedule-btn col-12">
                            <button class="btnspec">Change Schedule</button>
                </div>
                       
                       
                        
                      </div>
                    </mat-tab>
                    <mat-tab class="schedule-padding" label="Day-after"> 
                        <div class="container">
                        <!-- completed -->
                          <div class="step completed">
                            <div class="v-stepper">
                              <div class="circle"></div>
                              <div class="line"></div>
                            </div>
                      
                            <div class="content">
                            
                              <div class="contenthead">
                               <span class="timefont">10:00 AM</span> 
                            </div>
                              <div class="contentbody">
                                <div class="displyflex backclr col-12">
                                    Report title, Lorem ipsum dolor sit amet.
                        </div>
                              </div>
                            </div>
                        </div>
    
                        <div class="step completed">
                            <div class="v-stepper">
                              <div class="circle"></div>
                              <div class="line"></div>
                            </div>
                      
                            <div class="content">
                            
                              <div class="contenthead">
                               <span class="timefont">3:30 PM</span> 
                            </div>
                              <div class="contentbody">
                                <div class="displyflex backclr col-12">
                                    Report title, Lorem ipsum dolor sit amet.
                        </div>
                              </div>
                            </div>
                        </div>
    
    
                        <div class="step completed">
                            <div class="v-stepper">
                              <div class="circle"></div>
                              <div class="lineend"></div>
                            </div>
                      
                            <div class="content">
                            
                              <div class="contenthead">
                               <span class="timefont">7:30 PM</span> 
                            </div>
                              <div class="contentbody">
                                <div class="displyflex backclr col-12">
                                    Report title, Lorem ipsum dolor sit amet.
                        </div>
                              </div>
                            </div>
                        </div>
    
    
                       
                        
                        <div class="displyflex schedule-btn col-12">
                            <button class="btnspec">Change Schedule</button>
                </div>
                       
                       
                        
                      </div>
                    </mat-tab>
                  </mat-tab-group>
            </mat-card>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="marb23p no-padd col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <mat-card class="schedule-padding">
                    <div class="schedule-head">
                        <div class="schedule-Leaderboard">To Review</div>
                        <div class="Full-Schedule">All Tasks <img class="Icon-awesome-arrow-right" src="assets/Icon awesome-arrow-right.png" alt="Img"/></div>
                    </div>
               
                    
                    <div class="displyflex marb18p" *ngFor="let review of displayReview">
                        <div class="displyflex backclr padr3 col-12">
                            <div class="pad-cus col-10">
                    {{review.taskName}}</div> 
                    <div class="col-2 pad3 mart7p">
    <img  [src]="review.imgUrl" alt="Img"/>
                    </div>
                </div> 
            </div> 
    
          
                      
        
                </mat-card>
            </div>
            <div class="marb23p no-padd col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <mat-card class="schedule-padding">
                    <div class="schedule-head">
                        <div class="schedule-Leaderboard">Ongoing</div>
                        <div class="Full-Schedule">All Tasks <img class="Icon-awesome-arrow-right" src="assets/Icon awesome-arrow-right.png" alt="Img"/></div>
                    </div>
    
    <div class="marb18p" *ngFor="let onTask of displayOngoing">
                    <div class="displyflex marb5p">
                        <div class="displyflex backclr padr3 col-10">
                            <div class="pad-cus col-10">
                   {{onTask.taskName}}</div> 
                    <div class="col-2 pad3 mart7p">
    <img  [src]="onTask.imgUrl" alt="Img"/>
                    </div>
                </div>  
                    <div class="col-2 pad3">
                        <div class="borderfb"><span class="numtextfb">{{onTask.perc}}</span> <span class="numtextfbperx">%</span></div>
                    
                    </div>  
                
                </div> 
                <div class="no-padd col-10">
                    <mat-progress-bar class="audio-progress-bar" mode="determinate" value="{{onTask.perc}}"></mat-progress-bar>
                
                </div>
            </div>
                  
        
                </mat-card>
            </div>
        </div>
    </div>
    </div>
     
        <!-- <div class="row no-right-mar no-left-mar">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="bg-card col-xs-12 col-sm-4 col-lg-4 col-xl-4">
            asd
        </div>
        <div class="bg-card col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            asd
        </div>
        <div class="bg-card col-xs-12 col-sm-4 col-lg-4 col-xl-4">
            asd
        </div>
    </div>
    </div> -->
    </div>
    <div class="chatbot"><img class="chat-img" src="assets/Group 703.png" alt="Img"/></div>
    </div>